*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    
    /* CAMBIO: Se agrega la imagen con un filtro oscuro encima para resaltar las letras blancas */
    background: linear-gradient(rgba(15, 23, 42, 0.75), rgba(15, 23, 42, 0.75)), url('../imagen/fondo.jpg');
    
    /* Propiedades para que la imagen cubra toda la pantalla perfectamente */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.contenedor{
    text-align:center;
    color:white;
}

h1{
    font-size:60px;
    margin-bottom:20px;
}

p{
    font-size:22px;
    margin-bottom:30px;
}

button{
    padding:15px 40px;
    font-size:18px;

    border:none;
    border-radius:10px;

    background:#2563eb;
    color:white;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    background:#1d4ed8;
    transform:scale(1.05);
}